$wildcatBlue: #0033A0;
$wildcatWhite: #ffffff;
$wildcatBlack: #2C2A29;
$fontSerif: 'Lora', serif;
$fontSans: 'Muli', sans-serif;
body, * {
    box-sizing: border-box;
    font-family: $fontSans;
}
body {
    height: 100vh;
    background-color: $wildcatBlue;
    color: $wildcatBlack;
}
section, footer {
    text-align: center;
    width: 100vw;
    padding: 1em 1em .75em;
    @media screen and (min-width: 650px) {
        padding: 3em 3em .75em;
    }
}
main {
    background-color: $wildcatWhite;
}
header {
    background-color: $wildcatBlue;
    color: $wildcatWhite;
    width: 100%;
    padding:  15px 10px 2em;
    text-align: center;
    @media screen and (min-width: 650px) {
        padding: 15px 30px 2em;
    }
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 2em;
        img {
            height: 60px;
            @media screen and (min-width: 650px) {
                height: 80px;
            }
        }
        p {
            font-family: $fontSerif;
            font-size: 1.3em;
            border: 1px solid $wildcatWhite;
            padding: 5px 10px;
            margin: 0;
            @media screen and (min-width: 650px) {
                font-size: 2em;
            }
        }
        @media screen and (min-width: 650px) {
            margin: 1.4em 0 2em;
        }
    }
}
h1 {
    font-family: $fontSerif;
}
h3 {
    margin: 0 auto 1.2em;
}
.quiz, .result, .complete {
    display: none;
}
.introduction {
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 650px) {
        width: 60%;
    }
    h2 {
        margin-bottom: 1.5em;
    }
    p {
        font-size: 1em;
        @media screen and (min-width: 650px) {
            font-size: 1.3;
        }
    }
}
.quiz {
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 650px) {
        width: 80%;
    }
}
.row {
    align-items: center;
}
fieldset {
    border: none;
}
label {
    cursor: pointer;
    display: block;
    padding: 15px 30px;
    margin: 10px auto;
    width: 80%;
    border: 1px solid $wildcatBlack;
    text-align: left;
    @media screen and (min-width: 650px) {
        width: 50%;
    }
}
input {
    margin-right: 10px;
}

.result {
    width: 100%;
    margin: inherit auto;
    &__info {
        font-size: 2em;
    }
    @media screen and (min-width: 650px) {
        width: 80%;
    }
}
.js-img {
    height: 29vh;
    border: 2px solid $wildcatBlack;
    border-radius: 2px;
    box-shadow: 0 2px 4px $wildcatBlack;
    @media screen and (min-width: 650px) {
        height: 29vh;
    }
}
.js-comment {
    white-space: pre-line;
    font-size: 1.3em;
}
.complete__text {
    font-size: 2em;
}
.complete__img img{
    height: 28vh;
}
button {
    margin: 15px 1em 0;;
    color: $wildcatWhite;
    background-color: $wildcatBlue;
    padding: 15px 30px;
    font-size: 1.3em;
    @media screen and (min-width: 650px) {
        margin: 2em 1em 0;
    }
}

footer {
    color: $wildcatWhite;
    background-color: $wildcatBlue;
    a {
        padding: 5px;
        color: $wildcatWhite;
        &:hover {
            color: $wildcatWhite;
            background-color: $wildcatBlack;
        }
    }
}