$wildcatBlue: #0033A0;
$wildcatWhite: #ffffff;
$wildcatBlack: #2C2A29;
$fontSerif: 'Lora', serif;
$fontSans: 'Muli', sans-serif;
body, * {
    box-sizing: border-box;
    font-family: $fontSans;
    background-color: $wildcatBlue;
    color: $wildcatWhite;
}
section, footer {
    text-align: center;
    width: 60%;
    margin: 30px auto;
}
header {
    width: 100%;
    padding:  15px 30px;
    text-align: center;
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
            height: 80px;
        }
        p {
            font-family: $fontSerif;
            font-size: 2em;
            border: 1px solid $wildcatWhite;
            padding: 5px 10px;
        }
    }
    
}
h1 {
    font-family: $fontSerif;
}
.quiz {
    border: 1px solid $wildcatBlack;
    width: 80%;
    margin: 0 auto;
}
fieldset {
    border: none;
}
label {
    display: block;
    padding: 15px 30px;
    margin: 10px auto;
    width: 70%;
    border: 1px solid $wildcatBlack;
    text-align: left;
}
input {
    margin-right: 10px;
}

.result {
    border: 1px solid $wildcatBlack;
    width: 60%;
    margin: inherit auto;
}
button {
    margin: 1em;
}