$wildcatBlue: #0033A0;
$wildcatWhite: #ffffff;
$wildcatBlack: #2C2A29;
$fontSerif: 'Lora', serif;
$fontSans: 'Muli', sans-serif;
body, * {
    box-sizing: border-box;
    font-family: $fontSans;
}
body {
    background-color: $wildcatWhite;
    color: $wildcatBlack;
}
section, footer {
    text-align: center;
    width: 100vw;
    padding: 3em 3em 1.5em;
}
header {
    background-color: $wildcatBlue;
    color: $wildcatWhite;
    width: 100%;
    padding:  15px 30px 2em;
    text-align: center;
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.4em 0 2em;
        img {
            height: 80px;
        }
        p {
            font-family: $fontSerif;
            font-size: 2em;
            border: 1px solid $wildcatWhite;
            padding: 5px 10px;
        }
    }
    
}
h1 {
    font-family: $fontSerif;
}
h3 {
    margin: 0 auto 1.2em;
}
.introduction {
    width: 60%;
    margin: 0 auto;
    h2 {
        margin-bottom: 1.5em;
    }
    p {
        font-size: 1.3em;
    }
}
.quiz {
    width: 80%;
    margin: 0 auto;
}
fieldset {
    border: none;
}
label {
    display: block;
    padding: 15px 30px;
    margin: 10px auto;
    width: 50%;
    border: 1px solid $wildcatBlack;
    text-align: left;
}
input {
    margin-right: 10px;
}

.result {
    width: 80%;
    margin: inherit auto;
}
.js-img {
    height: 35vh;
    border: 2px solid $wildcatBlack;
    border-radius: 2px;
    box-shadow: 0 2px 4px $wildcatBlack;
}
button {
    margin: 2em 1em 0;;
    color: $wildcatWhite;
    background-color: $wildcatBlue;
    padding: 15px 30px;
    font-size: 1.3em;
}

footer {
    color: $wildcatWhite;
    background-color: $wildcatBlue;
    a {
        padding: 5px;
        color: $wildcatWhite;
        &:hover {
            color: $wildcatWhite;
            background-color: $wildcatBlack;
        }
    }
}